{{define "index.html"}}
<form action="/post" method="POST">
    <label class="required">Name</label>
    <input type="text" name="name" value="Anonymous Guest" placeholder="Anonymous Guest">

    <label class="required">Message</label>
    <textarea name="content" placeholder="I was here" required></textarea>

    <button type="submit">Submit</button>
</form>

{{if .Messages}}
<table>
    <thead>
        <tr>
            <th style="width: 15%">Name</th>
            <th>Message</th>
            <th style="width: 15%">Date</th>
        </tr>
    </thead>
    <tbody>
        {{range .Messages}}
            <tr>
                <td>{{.Name}}</td>
                <td>{{.Content}}</td>
                <td>{{.CreatedAt.Format "Jan 2, 2006"}}</td>
            </tr>
        {{end}}
    </tbody>
</table>

<div style="text-align: center">
{{if gt .CurrentPage 1}}
    <a href="/?p={{sub .CurrentPage 1}}"><</a>
{{end}}

Page {{.CurrentPage}} of {{.TotalPages}}

{{if lt .CurrentPage .TotalPages}}
    <a href="/?p={{add .CurrentPage 1}}">></a>
{{end}}
</div>

{{else}}
<p>No messages yet! Feel free to write one yourself</p>
{{end}}

{{end}}
